/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* Variables declaration */
:root {
  --accent-orange: #e06733;
  --accent-green: #499a18;
  --accent-gray: #717171;
  --text-color: #636060;
  --bg-section: #edf2ec;
  --links-nav: #010201;
}

.accent-green {
  color: var(--accent-green);
}

.accent-orange {
  color: var(--accent-orange);
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.accent-bg {
  background-color: var(--bg-section);
}

/* Declare common rules */
* {
  box-sizing: border-box;
}

*,*:focus,*:hover{
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  background-color: #fff;
}

.container {
  margin: 0 auto;
  padding: 74px 108px;
  min-height: 50px;
  max-width: 1440px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.col {
  position: relative;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.header-container {
  height: 134px;
  padding: 53px 109px;
  font-family: 'Inika', sans-serif;
  font-size: 16px;
}

.header-container .row {
  margin-top: -28px;
}

.logo-link {
  text-decoration: none;
  color: #000;
}

.logo-link:visited {
  color: var(--links-nav);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 47px;
  list-style: none;
  font-weight: normal;
}

.nav-link {
  position: relative;
        text-decoration: none;
  line-height: 50px;
  color: var(--links-nav);
  transition: all 0.5s ease-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-orange);
}

.nav-active {
  color: var(--accent-orange);
  font-weight: bold;
}

.section-welcome {
  height: 532px;
  line-height: 35px;
}

.section-welcome .row {
  gap: 224px;
}

.section-welcome .col:nth-child(2) {
  margin-top: -35px;
}

.img-welcome {
  width: 449px;
  height: 407px;
  object-fit: cover;
}

.section-title {
  padding: 0;
  margin: 0;
  font-family: 'Inika', sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: var(--accent-green);
}

.main-title {
  margin-bottom: 42px;
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  line-height: 50px;
  color: var(--accent-gray);
  font-weight: bold;
}

.button {
  width: 161px;
  height: 50px;
  font-family: 'Inika', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--accent-orange);
  text-transform: none;
  margin-right: 33px;
  padding:0;
  border: 1px solid var(--accent-orange);
  border-radius: 5px;
  cursor: pointer;
}

a.button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.button:last-of-type {
  margin-right: 0;
}

.button:hover,
.button:focus,
a.button:hover  {
  transition: 0.5s ease;
  background-color: var(--accent-orange);
  color: #fff;
}

.button-welcome {
  height: 44px;
  width: 158px;
  margin-top: 27px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
  border: 2px solid var(--accent-orange);
  border-radius: 10px;
}

.section-about {
  height: 666px;
}

.section-about .row {
  gap: 153px;
  margin-top: 18px;
}

.section-about .col:first-of-type {
  margin-top: 20px;
}

.section-about .section-title {
  margin-bottom: 37px;
}

.section-service {
  height: 1300px;
}

.section-service .row {
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 55px;
  column-gap: 116px;
  margin-bottom: 55px;
}

.section-service .row:first-of-type {
  flex-wrap: nowrap;
  gap: 22px;
  margin-top: -35px;
  margin-bottom: 77px;
}

.service-buttons {
  flex-basis: 66%;
}

.card {
  position: relative;
  overflow: hidden;
  width: 330px;
  height: 450px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.card img {
  position: relative;
  object-fit: cover;
  left: -1px;
}

.bottom-panel {
  text-align: center;
}

.card-title {
  margin: 4px auto;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: var(--accent-orange);
}

.card-description {
  margin: 12px 30px 36px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-gray);
}

.section-prices {
  height: 560px;
}

.section-prices .row {
  align-items: flex-start;
  margin-top: -40px;
}

.section-prices .col:last-of-type {
  flex-basis: 452px;
  text-align: right;
}

.section-prices .section-title {
  font-family: 'Inter', sans-serif;
  color: #010201;
}

.section-prices .button {
  margin-top: 38px;
  margin-bottom: 38px;
  font-size: 19px;
  background: #fff;
}

.section-prices .section-img {
  height: 174px;
  background: right no-repeat url('../img/leafs-1.png');
}

.section-prices .button:focus,        
.section-prices .button:hover {
  background-color: var(--accent-orange);
  color: #fff;
}

.price-accordion {
  width: 332px;
  height: 282px;
  padding: 34px 41px;
  margin-top: 60px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.section-prices .price-accordion:focus {
  outline: 1px solid var(--accent-orange);
}

.price-item {
  position: relative;
  width: 250px;
  height: 50px;
  padding: 16px 110px 16px 40px;
  margin-bottom: 32px;
  border-radius: 20px;
  background: var(--bg-section);
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: var(--links-nav);
  cursor: pointer;
}

.price-item::after {
  position: absolute;
  right: 40px;
  content: '\203A';
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: var(--accent-gray);
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition: all 1s ease;
}

.price-item:hover:after {
  background-color: var(--accent-orange);
  color: #fff;
  cursor: pointer;
}

.section-contacts {
  height: 550px;
}

.section-contacts .row:first-of-type {
  justify-content: center;
}

.section-contacts .section-title {
  margin-top: -19px;
}

.select-box {
  position: relative;
  top: -72px;
  left: 1px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 450px;
}

.select-box .options-container {
  order: 1;
  background-color: #dce9d9;
  color: #499a18;
  /* max-height: 0; */
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  padding: 27px 35px 31px 35px;
}

.select-box .options-container.active {
  max-height: 234px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected {
  box-shadow: none;
  background-color: #c1e698;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
}


.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background-color: #dce9d9;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background-color: #499a18;
}

.selected {
  order: 0;
  position: relative;
  background-color: #d6e7d2;
  color: #717171;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 24px;
  font-size: 20px;
  cursor: pointer;
}

.selected::after {
  position: absolute;
  height: 16px;
  width: 16px;
  right: 35px;
  top: 17px;
  content: '';
  background: url('../svg/accordion_btn.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s;
}

.select-box .option {
  font-size: 16px;
  margin-bottom: 12px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}

.select-box label {
  cursor: pointer;
}

.select-box .option:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.select-box .option .radio {
  display: none;
}

.contact-info {
  opacity: 0;
  position: absolute;
  top: 27px;
  z-index: 0;
  width: 448px;
  height: 214px;
  padding: 17px 76px 32px 33px;
  background-color: var(--bg-section);
  border: 1px solid #000;
  border-radius: 20px;
  transition: all 0.4s;
}

.contact-info.visible {
  opacity: 1;
  z-index: 3;
}

.contact-info .contact-table {
  font-size: 16px;
}

.contact-info .contact-table td {
  padding: 5px;
}

.contact-info .contact-table .contact-head {
 color: #000;
}

.contact-info .button {
  display: block;
  width: 122px;
  height: 26px;
  line-height: 26px;
  margin-left: 126px;
  font-size: 10px;
  color: #717171;
}

.contact-img {
  position: relative;
  bottom: 55px;
}

.footer-container {
  height: 130px;
  padding: 0 108px;
  color: var(--links-nav);
}

.footer-container .row {
  margin-top: 24px;
}

.footer-container .row .col:nth-child(2) {
  margin-left: 55px;
}

.footer-container > a {
  color: var(--links-nav);
  text-decoration: none;
}

.footer-copy > * {
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.footer-copy > *:last-child {
  margin-right: 0;
}

.social {
  display: flex;
  gap: 20px;
  list-style: none;
}

.social-link svg {
  width: 32px;
  height: 32px;
}

.social-link svg :focus,   
.social-link svg :hover {
  transition: all 1s ease;
  fill: var(--accent-orange);
}

.mobile-menu {
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 20px;
  background-color: var(--bg-section);
  transition: 0.5s;
}

.mobile-menu.collapsed {
  left: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.sticky + .main {
  padding-top: 102px;
}
/** Adaptivity **/

.toggle {
  display: none;
  position: relative;
  top: -8px;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
  margin-top: 5px;
  margin-left: auto;
  cursor: pointer;
  user-select: none;
  z-index: 15;
}

.toggle div {
  width: 100%;
  height: 2px;
  background: var(--accent-gray);
  margin-bottom: 6px;
  z-index: 15;
  transition: 0.4s;
}

.toggle.collapsed .line1 {
  transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle.collapsed .line2 {
  opacity: 0;
}

.toggle.collapsed .line3 {
  opacity: 0;
}

.toggle.collapsed .line4 {
  transform: rotate(45deg) translate(-6px, -12px);
}

@media (min-width: 769px) and (max-width: 1439px) {
  .header-container,
  .section-welcome,
  .section-about,
  .section-service,
  .section-prices,
  .footer-container
   {
    height: auto;
  }

  .section-welcome .row {
    gap: 50px;
  }
}

@media (max-width: 768px) {

  .container {
    max-width: 768px;
  }

  .section-title {
    font-size: 35px;
  }

  .header-container {
    height: 117px;
    padding: 35px 50px;
  }

  .header-container .row {
    margin-top: -16px;
  }

  .logo-link {
    position: relative;
    top: -2px;
    left: -6px;
  }

  .section-welcome {
    height: 420px;
    font-size: 16px;
    line-height: 25px;
  }

  .section-welcome .container {
    padding: 40px 50px 70px 50px;
  }

  .section-welcome .row {
    flex-direction: row-reverse;
    align-items: flex-start;
    column-gap: 42px;
  }

  .section-welcome .col:nth-child(2) {
    margin: 0;
  }

  .section-welcome p {
    position: relative;
    left: 5px;
  }

  .img-welcome {
    position: relative;
    top: -77px;
    width: 280px;
    object-fit: contain;
  }

  .main-title {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .button-welcome {
    margin-top: 20px;
  }

  .section-about {
    height: 783px;
  }

  .section-about .section-title {
    text-align: center;
    line-height: 46px;
    margin-bottom: 50px;
  }

  .section-about .container {
    padding: 40px 50px;
  }

  .section-about .row {
    flex-flow: column wrap;
    gap: 0;
    margin-top: 0;
  }

  .section-about .col:first-of-type {
    margin: 0;
  }

  .section-about .row img {
    position: relative;
    top: 48px;
    width: 250px;
  }

  .section-service {
    height: 1780px;
  }

  .section-service .container {
    padding: 60px 50px 70px 50px;
  }

  .section-service .row:first-of-type {
    flex-flow: row wrap;
  }

  .section-service .row {
    flex-wrap: wrap;
    row-gap: 38px;
    column-gap: 38px;
    margin: 0;
  }

  .service-buttons {
    flex-basis: 100%;
  }

  .card {
    width: 280px;
  }

  .section-service .row:first-of-type {
    justify-content: flex-start;
    margin: 0;
    gap: 42px;
  }

  .section-service .row:first-of-type .col:first-of-type {
    flex-basis: 40%;
  }

  .section-service .row {
    justify-content: space-between;
    margin-top: 39px;
  }

  .section-service .section-title {
    line-height: 46px;
  }

  .section-prices {
    height: 585px;
  }

  .section-prices .container {
    padding: 40px 50px 88px 50px;
  }

  .section-prices .row {
    margin-top: 3px;
  }

  .section-prices .col:last-of-type {
    flex-basis: 100%;
  }

  .section-prices h3.section-title {
    position: relative;
    left: 14px;
    top: 1px;
    font-size: 35px;
  }

  .section-prices .section-title {
    position: relative;
    top: 97px;
    font-size: 25px;
    line-height: 35px;
  }

  .section-prices .button {
    margin-top: 125px;
  }

  .section-prices .section-img {
    position: relative;
    left: 11px;
    top: -2px;
  }

  .section-contacts {
    height: 739px;
  }

  .section-contacts .container {
    padding: 40px 50px;
  }

  .section-contacts .row {
    flex-flow: column wrap;
  }

  .section-contacts .section-title {
    font-size: 40px;
    margin-top: 0;
  }

  .select-box {
    top: -158px;
    left: -1px;
  }

  .contact-info {
    top: -74px;
  }

  .contact-img {
    width: 200px;
    left: 10px;
    bottom: -398px;
  }

  .footer-container {
    height: 181px;
  }

  .footer-container .row {
    position: relative;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
    top: 20px;
    gap: 1px;
  }

  .footer-container .row .col:nth-child(2) {
    position: relative;
    margin: 0;
    top: -11px;
  }

  .social {
    margin: 0;
    padding: 0;
  }

}

@media (min-width: 380px) and (max-width: 767px) {
  .header-container,
  .section-welcome,
  .section-about,
  .section-service,
  .section-prices,
  .footer-container
   {
    height: auto;
  }

  .nav-list {
    gap: 25px;
  }

  .section-welcome .col:first-of-type {
    display: none;
  }

  .section-about .row img {
    top: 0;
  }

  .section-service .row:nth-child(2) {
    align-items: center;
    justify-content: center;
  }


  .service-buttons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 9px;
  }


  .section-service .row:first-of-type .col:first-of-type {
    flex-basis: 100%;
  }
}

@media (min-width: 381px) and (max-width: 500px) {
  .navbar {
    display: none;
    left: 100%;
    transition: all 0.4s ease;
  }

  .toggle {
    display: block;
  }

  .mobile-menu .nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 40px 0;
    height: 100%;
    flex-direction: column;
  }
}

@media (max-width: 380px) {

  .navbar {
    display: none;
    left: 100%;
    transition: all 0.4s ease;
  }

  .toggle {
    display: block;
  }

  .mobile-menu .nav-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 40px 0;
    height: 100%;
    flex-direction: column;
  }

  .container {
    max-width: 380px;
  }

  .header-container {
    height: 96px;
    padding: 36px 25px;
  }

  .header-container .row {
    margin: 0;
  }

  .header-container .col {
    flex: 1 1 100%;
  }

  .header-container .col:first-of-type {
    flex-basis: 30%;
  }

  .section-welcome {
    height: 300px;
  }

  .section-welcome .container {
    padding: 24px 25px;
  }

  .section-welcome .row {
    flex-direction: row;
    margin: 0;
  }

  .section-welcome .row .col:first-of-type {
    display: none;
  }

  .section-welcome .section-title {
    font-size: 25px;
    line-height: 35px;
  }

  .section-welcome p {
    left: 0;
    top: -7px;
  }

  .section-welcome .button-welcome {
    width: 100px;
    height: 34px;
    padding: 0;
    margin-top: 2px;
    font-size: 10px;
    line-height: 20px;
  }

  .section-about {
    height: 516px;
    font-size: 15px;
    line-height: 25px;
  }

  .section-about .container {
    padding: 30px 25px;
  }

  .section-about .section-title {
    margin: 0;
    font-size: 25px;
    line-height: 33px;
  }

  .section-service .row:first-of-type {
    justify-content: start;
  }
  
  .section-service .row:first-of-type .col:first-of-type {
    flex-basis: 60%;
  }

  .section-service .row {
    justify-content: center;
    row-gap: 34px;
  }
  
  .section-about .row img {
    width: 150px;
    top: -17px;
  }

  .section-service {
    height: 3150px;
  }

  .section-service .container {
    padding: 30px 25px;
  }

  .section-service .section-title {
    font-size: 25px;
    line-height: 32px;
  }

  .service-buttons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 9px;
  }

  .service-buttons .button {
    width: 121px;
    height: 34px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 19px;
  }

  .section-prices {
    height: 512px;
  }

  .section-prices .container {
    padding: 25px 30px;
  }

  .section-prices .row {
    flex-flow: column wrap;
    justify-content: center;
  }

  .section-prices h3.section-title {
    position: relative;
    top: -3px;
    left: 49px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }

  .price-accordion {
    position: relative;
    left: 50px;
    width: 224px;
    height: 235px;
    margin-top: 35px;
  }

  .price-item {
    position: relative;
    left: -20px;
    top: -7px;
    width: 180px;
    height: 50px;
    padding: 16px 15px 16px 30px;
    margin-bottom: 14px;
    font-size: 15px;
    line-height: 20px;
  }

  .section-prices .section-img {
    display: none;
  }

  .section-prices .col:last-of-type .section-title {
    top: 19px;
    margin: 0 20px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
  }

  .section-prices .col:last-of-type .button {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 39px;
    padding: 0;
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
  }

  .section-contacts {
    height: 445px;
  }

  .section-contacts .container {
    padding: 25px 42px 0 42px;
  }

  .section-contacts .section-title {
    font-size: 25px;
    line-height: 33px;
  }

  .select-box {
    top: -50px;
    left: -1px;
    width: 300px;
  }

  .selected::after {
    right: 23px;
  }

  .contact-info {
    width: 282px;
    height: 212px;
    padding: 23px 36px;
    top: 22px;
    left: 10px;
    line-height: 20px;
  }


  .contact-info .contact-table td {
    padding: 0;
    padding-top: 7px;
  }

  .contact-info .contact-table td:nth-child(2) {
    width: 64%;
  }

  .contact-info .button {
    margin: 15px auto;
  }

  .contact-img {
    width: 100px;
    left: -4px;
    bottom: -263px;
  }

  .footer-container {
    height: 146px;
    padding: 22px 85px 7px 85px;
  }

  .footer-container .row {
    top: -13px;
  }

  .social {
    position: relative;
    top: -13px;
  }
}

@media (min-width: 320px) and (max-width: 379px) {
  .header-container,
  .section-welcome,
  .section-about,
  .section-service,
  .section-prices,
  .footer-container
  {
    height: auto;
    width: auto;
  }

  .card img {
    object-fit: contain;
  }

  .section-prices .col:last-of-type .section-title {
    margin: 30px 10px;
  }

  .section-prices .col:last-of-type .button {
    top: 0;
  }
}
