/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* Variables declaration */
:root {
  --accent-orange: #e06733;
  --accent-green: #499a18;
  --accent-gray: #717171;
  --text-color: #636060;
  --bg-section: #edf2ec;
  --links-nav: #010201;
}
/* Declare common rules */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  background-color: var(--bg-section);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  min-height: 50px;
  padding: 0 108px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 134px;
  background-color: var(--bg-section);
  font-family: 'Inika', sans-serif;
  font-size: 16px;
}

.logo-link {
  text-decoration: none;
}

.logo-link:visited {
  color: var(--links-nav);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-weight: normal;
}

.nav-link {
  position: relative;
  padding: 0 23px;
  text-decoration: none;
  line-height: 50px;
  color: var(--links-nav);
  transition: all 0.5s ease-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-orange);
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section-welcome {
  min-height: 532px;
  padding-bottom: 94px;
  line-height: 35px;
}

.section-welcome > .subsection:first-child {
  background: url("../img/leafs.png") no-repeat;
  background-size: contain;
}

.subsection {
  width: 50%;
}

.section-title {
  font-family: 'Inika', sans-serif;
  font-size: 40px;
  color: var(--accent-green);
}

.main-title {
  margin-bottom: 42px;
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  line-height: 50px;
  color: var(--accent-gray);
  font-weight: bold;
}

.main-title span {
  color: var(--accent-green);
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 14px 27px;
  border: 2px solid var(--accent-orange);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  transition: 0.5s ease;
  background-color: var(--accent-orange);
  color: #fff;
}

.button-welcome {
  margin-top: 48px;
  border-radius: 10px;
}



.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  color: var(--links-nav);
  background-color: #fff;
}

.footer-container > a {
  color: var(--links-nav);
  text-decoration: none;
}

.footer-copy > * {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.footer-copy > *:last-child {
  margin-right: 0;
}

.social-link {
  margin-right: 20px;
}

.social-link:last-child {
  margin-right: 0;
}