/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* Variables declaration */
:root {
  --accent-orange: #e06733;
  --accent-green: #499a18;
  --accent-gray: #717171;
  --text-color: #636060;
  --bg-section: #edf2ec;
  --links-nav: #010201;
}

.accent-green {
  color: var(--accent-green);
}

.accent-orange {
  color: var(--accent-orange);
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.accent-bg {
  background-color: var(--bg-section);
}

/* Declare common rules */
* {
  box-sizing: border-box;
}

*,*:focus,*:hover{
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  background-color: #fff;
}

.container {
  margin: 0 auto;
  padding: 94px 108px;
  min-height: 50px;
  max-width: 1440px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.header-container {
  height: 134px;
  padding: 0 108px;
  font-family: 'Inika', sans-serif;
  font-size: 16px;
}

.logo-link {
  text-decoration: none;
}

.logo-link:visited {
  color: var(--links-nav);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-weight: normal;
}

.nav-link {
  position: relative;
  padding: 0 23px;
  text-decoration: none;
  line-height: 50px;
  color: var(--links-nav);
  transition: all 0.5s ease-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-orange);
}

.section-welcome {
  min-height: 532px;
  padding-bottom: 94px;
  line-height: 35px;
}

.section-welcome .row {
  gap: 224px;
}

.img-welcome {
  width: 449px;
  height: 407px;
  object-fit: cover;
}

.section-title {
  font-family: 'Inika', sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: var(--accent-green);
}

.main-title {
  margin-bottom: 42px;
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  line-height: 50px;
  color: var(--accent-gray);
  font-weight: bold;
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 38px;
  padding: 12px 40px;
  border: 1px solid var(--accent-orange);
  border-radius: 5px;
  cursor: pointer;
}

.button:last-of-type {
  margin-right: 0;
}

.button:hover,
.button:focus {
  transition: 0.5s ease;
  background-color: var(--accent-orange);
  color: #fff;
}

.button-welcome {
  margin-top: 48px;
  padding: 14px 27px;
  border: 1px solid var(--accent-orange);
  border-radius: 10px;
}

.section-about .row {
  gap: 153px;
}

.section-service .container {
  padding-top: 41px;
  padding-bottom: 121px;
}

.section-service .row {
  gap: 116px;
  margin-bottom: 55px;
}

.section-service .row:first-of-type {
  gap: 15px;
}

.service-buttons {
  flex-basis: 66%;
  /* flex-grow: 1; */
}

.card {
  position: relative;
  overflow: hidden;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.card img {
  position: relative;
  object-fit: cover;
  left: -1px;
}

.bottom-panel {
  text-align: center;
}

.card-title {
  margin: 10px auto;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: var(--accent-orange);
}

.card-description {
  margin: 0 30px 36px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-gray);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0 108px;
  color: var(--links-nav);
  background-color: #fff;
}

.footer-container > a {
  color: var(--links-nav);
  text-decoration: none;
}

.footer-copy > * {
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.footer-copy > *:last-child {
  margin-right: 0;
}

.social-link {
  margin-right: 20px;
}

.social-link:last-child {
  margin-right: 0;
}