/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* Variables declaration */
:root {
  --accent-orange: #e06733;
  --accent-green: #499a18;
  --accent-gray: #717171;
  --text-color: #636060;
  --bg-section: #edf2ec;
  --links-nav: #010201;
}

.accent-green {
  color: var(--accent-green);
}

.accent-orange {
  color: var(--accent-orange);
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.accent-bg {
  background-color: var(--bg-section);
}

/* Declare common rules */
* {
  box-sizing: border-box;
}

*,*:focus,*:hover{
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  background-color: #fff;
}

.container {
  margin: 0 auto;
  padding: 74px 108px;
  min-height: 50px;
  max-width: 1440px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.col {
  position: relative;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.header-container {
  height: 134px;
  padding: 53px 109px;
  font-family: 'Inika', sans-serif;
  font-size: 16px;
}

.header-container .row {
  margin-top: -28px;
}

.logo-link {
  text-decoration: none;
}

.logo-link:visited {
  color: var(--links-nav);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 46px;
  list-style: none;
  font-weight: normal;
}

.nav-link {
  position: relative;
        text-decoration: none;
  line-height: 50px;
  color: var(--links-nav);
  transition: all 0.5s ease-out;
}

.nav-link:hover,
.nav-link:focus {
  font-weight: bold;
  color: var(--accent-orange);
}

.section-welcome {
  height: 532px;
  line-height: 35px;
}

.section-welcome .row {
  gap: 224px;
}

.section-welcome .col:nth-child(2) {
  margin-top: -35px;
}

.img-welcome {
  width: 449px;
  height: 407px;
  object-fit: cover;
}

.section-title {
  padding: 0;
  margin: 0;
  font-family: 'Inika', sans-serif;
  font-size: 40px;
  line-height: 52px;
  color: var(--accent-green);
}

.main-title {
  margin-bottom: 42px;
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  line-height: 50px;
  color: var(--accent-gray);
  font-weight: bold;
}

.button {
  width: 161px;
  height: 50px;
  font-family: 'Inika', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--accent-orange);
  text-transform: none;
  margin-right: 33px;
  padding: 12px 30px;
  border: 1px solid var(--accent-orange);
  border-radius: 5px;
  cursor: pointer;
}

.button:last-of-type {
  margin-right: 0;
}

.button:hover,
.button:focus {
  transition: 0.5s ease;
  background-color: var(--accent-orange);
  color: #fff;
}

.button-welcome {
  height: 44px;
  width: 158px;
  margin-top: 27px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 2px solid var(--accent-orange);
  border-radius: 10px;
}

.section-about {
  height: 666px;
}

.section-about .row {
  gap: 153px;
  margin-top: 18px;
}

.section-about .col:first-of-type {
  margin-top: 20px;
}

.section-about .section-title {
  margin-bottom: 37px;
}

.section-service {
  height: 1300px;
}

.section-service .row {
  gap: 116px;
  margin-bottom: 55px;
}

.section-service .row:first-of-type {
  gap: 22px;
  margin-top: -35px;
  margin-bottom: 77px;
}

.service-buttons {
  flex-basis: 66%;
}

.card {
  position: relative;
  overflow: hidden;
  width: 330px;
  height: 450px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.card img {
  position: relative;
  object-fit: cover;
  left: -1px;
}

.bottom-panel {
  text-align: center;
}

.card-title {
  margin: 6px auto;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: var(--accent-orange);
}

.card-description {
  margin: 10px 30px 36px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-gray);
}

.section-prices {
  height: 560px;
}

.section-prices .row {
  align-items: flex-start;
  margin-top: -40px;
}

.section-prices .col:last-of-type {
  flex-basis: 452px;
  text-align: right;
}

.section-prices .section-title {
  font-family: 'Inter', sans-serif;
  color: #010201;
}

.section-prices .button {
  margin-top: 38px;
  margin-bottom: 38px;
  font-size: 19px;
  background: #fff;
}

.section-prices .section-img {
  height: 174px;
  background: right no-repeat url('../img/leafs-1.png');
}

.section-prices .button:focus,        
.section-prices .button:hover {
  background-color: var(--accent-orange);
  color: #fff;
}

.price-accordion {
  width: 332px;
  height: 282px;
  padding: 34px 41px;
  margin-top: 60px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.section-prices .price-accordion:focus {
  outline: 1px solid var(--accent-orange);
}

.price-item {
  position: relative;
  width: 250px;
  height: 50px;
  padding: 16px 110px 16px 40px;
  margin-bottom: 32px;
  border-radius: 20px;
  background: var(--bg-section);
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: var(--links-nav);
  cursor: pointer;
}

.price-item::after {
  position: absolute;
  right: 40px;
  content: '\203A';
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: var(--accent-gray);
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition: all 1s ease;
}

.price-item:hover:after {
  background-color: var(--accent-orange);
  color: #fff;
  cursor: pointer;
}

.section-contacts {
  height: 550px;
}

.section-contacts .row:first-of-type {
  justify-content: center;
}

.section-contacts .section-title {
  margin-top: -19px;
}

.city-select {
  position: relative;
  top: -193px;
  width: 450px;
  height: 50px;
  font-size: 20px;
  color: var(--accent-gray);
  background-color: #d6e7d2;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.city-select::after {
  position: absolute;
  top: 17px;
  right: 35px;
  content: '\203A';
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  color: #fff;
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #aea1a1;
  transition: all 1s ease;
}

.city-select select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 13px 20px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.contact-img {
  position: relative;
  bottom: 59px;
}

.footer-container {
  height: 130px;
  padding: 0 108px;
  color: var(--links-nav);
}

.footer-container .row {
  margin-top: 24px;
}

.footer-container .row .col:nth-child(2) {
  margin-left: 55px;
}

.footer-container > a {
  color: var(--links-nav);
  text-decoration: none;
}

.footer-copy > * {
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.footer-copy > *:last-child {
  margin-right: 0;
}

.social {
  display: flex;
  gap: 20px;
  list-style: none;
}

.social-link svg {
  width: 32px;
  height: 32px;
}

.social-link svg :focus,   
.social-link svg :hover {
  transition: all 1s ease;
  fill: var(--accent-orange);
}